<!DOCTYPE html>
	<html>
		<head>
		<link rel="stylesheet" type="text/css" href="resources/NBA2KStyle.css">
		<meta charset="ISO-8859-1">
		<title>2K League 2019 Player Analytics Model</title>
	</head>
	<body>
		<div id="openingTitle">
			<h1>Data Analytics and Statistics for the 2019 NBA 2K League</h1> 
		</div>
		<div id="description">
			<h2>Data visualization and analysis of offense, defense, and player capability</h2>
		</div>
		<div id="navigation">
			<table class="button-container">
				<tbody>
					<tr>
						<td><a href="#overview">OVERVIEW</a></td>
						<td><a href="#compare1">TEAM COMPARISON 1</a></td>
						<td><a href="#compare2">TEAM COMPARISON 2</a></td>
						<td><a href="#compare3">TEAM COMPARISON 3</a></td>
						<td><a href="#compare4">TEAM COMPARISON 4</a></td>
					</tr>
					<tr>
						<td><a href="#compare5">TEAM COMPARISON 5</a></td>
						<td><a href="#compare6">TEAM COMPARISON 6</a></td>
						<td><a href="#compare7">TEAM COMPARISON 7</a></td>
						<td><a href="#compare8">TEAM COMPARISON 8</a></td>
						<td><a href="#compare9">TEAM COMPARISON 9</a></td>
					</tr>
					<tr>
						<td><a href="#compare10">TEAM COMPARISON 10</a></td>
						<td><a href="#compare11">TEAM COMPARISON 11</a></td>
						<td><a href="#compare12">TEAM COMPARISON 12</a></td>
						<td><a href="#compare13">TEAM COMPARISON 13</a></td>
						<td><a href="#compare14">TEAM COMPARISON 14</a></td>
					</tr>
					<tr>
						<td><a href="#compare15">TEAM COMPARISON 15</a></td>
						<td><a href="#compare16">TEAM COMPARISON 16</a></td>
						<td><a href="#compare17">TEAM COMPARISON 17</a></td>
						<td><a href="#compare18">TEAM COMPARISON 18</a></td>
						<td><a href="#compare19">TEAM COMPARISON 19</a></td>
					</tr>
					<tr>
						<td><a href="#compare20">TEAM COMPARISON 20</a></td>
						<td><a href="#conclusion">CONCLUSION</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id=padding></div>
		<div id="overview">
			<h2>Overview</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Analyzing basketball statistics can be tiresome and frustrating. Our team aims to
			alleviate the chore of data analysis by applying visualization in order to maximize
			team efficiency, player utility, and the best archetypal fit for each player.
			<p></p>
			The following represents a small dataset over a single season. More accurate
			results can be obtained with more data and better refinement.
		</div>
		<div id=padding></div>
		<div id=compare1>
			<h2>Kings versus Blazer5 Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Blazer5 Gaming's team excels at offense and narrowly beats out the Kings on defense.
			Their primary scoring method is 2-point shots and they excel at offensive rebounds.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsBlazer5 Gaming.png"height="300" width="300">
			<p></p>
			Blazer5 is noticeably weak at blocking shots and defensive rebounds.
			Pushing hard on offense is the key to beating them.
			<p></p>
			<img src="resources/offensive-Blazer5 Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Blazer5 Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare2>
			<h2>Kings versus 76ers GC</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			76ers GC is somewhat stronger than the Kings on both offense and defense.
			Their primary scoring method is 2-point shots, and they focus just as hard on 3-point shots.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVs76ers GC.png"height="300" width="300">
			<p></p>
			76ers GC is noticeably weak at blocking shots and tends to allow a lot of points, although they
			make up for this by scoring just as many. Blocking their assists is something to focus on.
			<p></p>
			<img src="resources/offensive-76ers GC-bar.png"height="300" width="300"><img src="resources/defensive-76ers GC-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare3>
			<h2>Kings versus Celtics Crossover Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Celtics Crossover Gaming is stronger than the Kings on offense, but closer in terms of defense.
			They tend to make many 3-point shots, about as many as the Kings do.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsCeltics Crossover Gaming.png"height="300" width="300">
			<p></p>
			Celtics Crossover Gaming has strong assists, but they tend to allow a lot of shots.
			Pushing the offensive us the best way to beat them.
			<p></p>
			<img src="resources/offensive-Celtics Crossover Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Celtics Crossover Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare4>
			<h2>Kings versus Grizz Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Grizz Gaming is about equal to the Kings in terms of defense. They make a lot of
			2-point shots, but hardly make any 3-point shots.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsGrizz Gaming.png"height="300" width="300">
			<p></p>
			Judging by the high number of assists and low number of 3-point shots, Grizz Gaming
			tries to play things safely. Pushing on the offensive may catch them off-guard.
			<p></p>
			<img src="resources/offensive-Grizz Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Grizz Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare5>
			<h2>Kings versus T-Wolves Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			T-Wolves Gaming is about equal to the Kings in terms of defense.
			Both teams also have a roughly equal number of offensive rebounds.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsT-Wolves Gaming.png"height="300" width="300">
			<p></p>
			T-Wolves Gaming has an extraordinarily low number of blocked shots.
			Taking advantage of this by attempting more 2- and 3-point shots would
			be a good strategy.
			<p></p>
			<img src="resources/offensive-T-Wolves Gaming-bar.png"height="300" width="300"><img src="resources/defensive-T-Wolves Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare6>
			<h2>Kings versus Bucks Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Bucks Gaming features a slightly higher defensive capability than the Kings,
			focusing on 2-point shots over 3-point shots.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsBucks Gaming.png"height="300" width="300">
			<p></p>
			Bucks Gaming has an extraordinarily low number of blocked shots.
			Taking advantage of this by attempting more 2- and 3-point shots would
			be a good strategy.
			<p></p>
			<img src="resources/offensive-Bucks Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Bucks Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare7>
			<h2>Kings versus Magic Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Magic Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsMagic Gaming.png"height="300" width="300">
			<p></p>
			Bucks Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Magic Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Magic Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare8>
			<h2>Kings versus Pacers Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Pacers Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsPacers Gaming.png"height="300" width="300">
			<p></p>
			Pacers Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Pacers Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Pacers Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare9>
			<h2>Kings versus Mavs Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Mavs Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsMavs Gaming.png"height="300" width="300">
			<p></p>
			Mavs Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Mavs Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Mavs Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare10>
			<h2>Kings versus Wizards District Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Wizards District Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsWizards District Gaming.png"height="300" width="300">
			<p></p>
			Wizards District Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Wizards District Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Wizards District Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare11>
			<h2>Kings versus Warriors Gaming Squad</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Warriors Gaming Squad has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsWarriors Gaming Squad.png"height="300" width="300">
			<p></p>
			Warriors Gaming Squad has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Warriors Gaming Squad-bar.png"height="300" width="300"><img src="resources/defensive-Warriors Gaming Squad-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare12>
			<h2>Kings versus Jazz Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Jazz Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsJazz Gaming.png"height="300" width="300">
			<p></p>
			Jazz Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Jazz Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Jazz Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare13>
			<h2>Kings versus Raptors Uprising GC</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Raptors Uprising GC has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsRaptors Uprising GC.png"height="300" width="300">
			<p></p>
			Raptors Uprising GC has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Raptors Uprising GC-bar.png"height="300" width="300"><img src="resources/defensive-Raptors Uprising GC-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare14>
			<h2>Kings versus Cavs Legion GC</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Cavs Legion GC has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsCavs Legion GC.png"height="300" width="300">
			<p></p>
			Cavs Legion GC has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Cavs Legion GC-bar.png"height="300" width="300"><img src="resources/defensive-Cavs Legion GC-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare15>
			<h2>Kings versus Heat Check Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Heat Check Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsHeat Check Gaming.png"height="300" width="300">
			<p></p>
			Heat Check Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Heat Check Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Heat Check Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare16>
			<h2>Kings versus NetsGC</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			NetsGC has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsNetsGC.png"height="300" width="300">
			<p></p>
			NetsGC has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-NetsGC-bar.png"height="300" width="300"><img src="resources/defensive-NetsGC-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare17>
			<h2>Kings versus Knicks Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Knicks Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsKnicks Gaming.png"height="300" width="300">
			<p></p>
			Knicks Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Knicks Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Knicks Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare18>
			<h2>Kings versus Hawks Talon GC</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Hawks Talon GC has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsHawks Talon GC.png"height="300" width="300">
			<p></p>
			Hawks Talon GC has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Hawks Talon GC-bar.png"height="300" width="300"><img src="resources/defensive-Hawks Talon GC-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare19>
			<h2>Kings versus Lakers Gaming</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Lakers Gaming has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsLakers Gaming.png"height="300" width="300">
			<p></p>
			Lakers Gaming has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Lakers Gaming-bar.png"height="300" width="300"><img src="resources/defensive-Lakers Gaming-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare20>
			<h2>Kings versus Pistons GT</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Pistons GT has about equal defensive capabilities compared to the Kings.
			<p></p>
			<img src="resources/spidercharts/TeamComparisonKingsVsPistons GT.png"height="300" width="300">
			<p></p>
			Pistons GT has an extraordinarily low number of blocked shots
			and a very low number of steals. As a result, Recommended strategies
			involve remaining close to opposing team members to decrease their
			possession count.
			<p></p>
			<img src="resources/offensive-Pistons GT-bar.png"height="300" width="300"><img src="resources/defensive-Pistons GT-bar.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=conclusion>
			<h2>Conclusion</h2><div id=jump><a href="#openingTitle">Jump to top</a></div>
			<p></p>
			Teams facing the Kings primarily focused on scoring 2-point shots while neglecting their blocking and defense. Likewise,
			the kings themselves have a defensive capability well within the range of other teams. The Kings defense needs no improvement.
			However, taking a more offense-focused stance would greatly benefit the Kings in future matches.
			<p></p>
			In addition, the Kings had a large number of 3-point shots compared to other teams 2-point shots.
			It may be wise to focus on getting closer to the opponent's goal before taking the shots.
			Because the Kings have a fairly large number of assists across games, they should
			take advantage of their ability to work together and push inwards towards the goal.			
		</div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=footer>
			SacHacks Hackathon 2020
			<p></p>
			Team Moneyball
		</div>
	</body>
</html>