<!DOCTYPE html>
	<html>
		<head>
		<link rel="stylesheet" type="text/css" href="resources/NBA2KStyle.css">
		<meta charset="ISO-8859-1">
		<title>2K League 2019 Player Analytics Model</title>
	</head>
	<body>
		<div id="openingTitle">
			<h1>Hello, {{user.username}}!</h1> 
		</div>
		<div id="description">
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et felis feugiat, porttitor sapien ut, porttitor ante. Pellentesque nec neque ac enim ultrices interdum. Phasellus et tellus mi. Vestibulum vel erat at libero molestie ultricies. Suspendisse ullamcorper nunc at risus sagittis convallis. Nunc gravida laoreet enim, sed aliquam est faucibus in. Fusce viverra sit amet elit non bibendum.</h2>
		</div>
		<div id="navigation">
			<table class="button-container">
				<tbody>
					<tr>
						<td><a href="#overview">OVERVIEW</a></td>
						<td><a href="#compare1">TEAM COMPARISON 1</a></td>
						<td><a href="#compare2">TEAM COMPARISON 2</a></td>
						<td><a href="#compare3">TEAM COMPARISON 3</a></td>
						<td><a href="#compare4">TEAM COMPARISON 4</a></td>
					</tr>
					<tr>
						<td><a href="#compare5">TEAM COMPARISON 5</a></td>
						<td><a href="#compare6">TEAM COMPARISON 6</a></td>
						<td><a href="#compare7">TEAM COMPARISON 7</a></td>
						<td><a href="#compare8">TEAM COMPARISON 8</a></td>
						<td><a href="#compare9">TEAM COMPARISON 9</a></td>
					</tr>
					<tr>
						<td><a href="#compare10">TEAM COMPARISON 10</a></td>
						<td><a href="#compare11">TEAM COMPARISON 11</a></td>
						<td><a href="#compare12">TEAM COMPARISON 12</a></td>
						<td><a href="#compare13">TEAM COMPARISON 13</a></td>
						<td><a href="#compare14">TEAM COMPARISON 14</a></td>
					</tr>
					<tr>
						<td><a href="#compare15">TEAM COMPARISON 15</a></td>
						<td><a href="#compare16">TEAM COMPARISON 16</a></td>
						<td><a href="#compare17">TEAM COMPARISON 17</a></td>
						<td><a href="#compare18">TEAM COMPARISON 18</a></td>
						<td><a href="#compare19">TEAM COMPARISON 19</a></td>
					</tr>
					<tr>
						<td><a href="#compare20">TEAM COMPARISON 20</a></td>
						<td><a href="#conclusion">CONCLUSION</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id=padding></div>
		<div id="overview">
			<h2>Overview</h2>
			Donec dignissim, magna id gravida tristique, nibh arcu congue tortor, id facilisis neque mauris tincidunt neque. Vivamus nunc augue, semper vel venenatis vel, ullamcorper ac eros. Nunc orci felis, dapibus sit amet commodo vel, laoreet a quam. Donec quis erat semper, varius dolor non, porta nulla. Donec interdum semper metus sit amet blandit. Duis laoreet mi diam, eu maximus purus posuere quis. Proin turpis est, eleifend id eros sit amet, lacinia sodales urna. Etiam ultricies tincidunt felis, non volutpat lorem. Integer interdum, nibh quis vehicula pharetra, est risus vulputate metus, viverra cursus enim eros nec quam. Sed ac scelerisque mi.
		</div>
		<div id=padding></div>
		<div id=compare1>
			<h2>Kings versus Blazer5 Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare2>
			<h2>Kings versus 76ers GC</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare3>
			<h2>Kings versus Celtics Crossover Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare4>
			<h2>Kings versus Grizz Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare5>
			<h2>Kings versus T-Wolves Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare6>
			<h2>Kings versus Bucks Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare7>
			<h2>Kings versus Magic Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare8>
			<h2>Kings versus Pacers Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare9>
			<h2>Kings versus Mavs Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare10>
			<h2>Kings versus Wizards District Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare11>
			<h2>Kings versus Warriors Gaming Squad</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare12>
			<h2>Kings versus Jazz Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare13>
			<h2>Kings versus Raptors Uprising GC</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare14>
			<h2>Kings versus Cavs Legion GC</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare15>
			<h2>Kings versus Heat Check Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare16>
			<h2>Kings versus NetsGC</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare17>
			<h2>Kings versus Knicks Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare18>
			<h2>Kings versus Hawks Talon GC</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare19>
			<h2>Kings versus Lakers Gaming</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare20>
			<h2>Kings versus Pistons GT</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=conclusion>
			<h2>Conclusion</h2>
			<p></p>
			Fusce tempus tortor in nulla vulputate, eget tristique dui semper. Proin arcu lacus, bibendum sit amet libero a, luctus fermentum nibh. Aliquam sed leo mauris. Pellentesque vehicula ac tortor vitae gravida. Phasellus consectetur lorem id imperdiet commodo. Donec cursus pellentesque orci, eu molestie nulla varius nec. Sed aliquam vehicula est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin orci velit, consequat vitae justo non, malesuada posuere nisl. Vestibulum condimentum, arcu sed pharetra gravida, nisi purus ultricies ante, non eleifend lectus ex nec metus. Praesent maximus sem libero, sit amet efficitur nunc luctus sit amet. Pellentesque cursus luctus faucibus. Morbi blandit quam ut lacus finibus, vel hendrerit diam dignissim. Sed in sapien posuere, rutrum lorem vel, faucibus ligula.
		</div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=padding></div>
		<div id=footer>
			Creator footnotes qwertyuiopasdfghjklzxcvbnm
			Blah blah blah blah
			abcdefghijklmnopqrstuvwxyz
		</div>
	</body>
</html>