<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="resources/NBA2KStyle.css">

	<title>Individual Player Statistics</title>
</head>

<body>
	<div id=navHome><a href="index.html">Home</a></div>
	<div id="openingTitle">
		<h1>Data Analysis of Individual Kings Players</h1>
		<img id=logo src="resources/kings-logo.png" height=100 width=100>
		<div>

			<div>
				<h1>Compare each players of the top 3 teams to the Kings Guard Gaming</h1>
				<div>
					<select id="teams" name="teams">
						<option>Blazers</option>
						<option>Mavs</option>
						<option>76ers</option>
					</select>

					<button id="btn">Select team</button>
				</div>

				<img class="comparePlayers" src="./players_img/kingsBlazers1.png" alt="" style="margin-top:20px;">
				<img class="comparePlayers" src="./players_img/kingsBlazers2.png" alt="" style="margin-top:20px;">
				<img class="comparePlayers" src="./players_img/kingsBlazers3.png" alt="" style="margin-top:20px;">
				<img class="comparePlayers" src="./players_img/kingsBlazers4.png" alt="" style="margin-top:20px;">
				<img class="comparePlayers" src="./players_img/kingsBlazers5.png" alt="" style="margin-top:20px;">
				<img class="comparePlayers" src="./players_img/kingsBlazers6.png" alt="" style="margin-top:20px;">
			</div>
			<hr>
			<div class="rankings">
				<h1>Team Statistics Out of 21 Teams</h1>
				<p><strong>#2</strong> in 3 pointers and 3 point percentage</p>
				<img class="" src="./players_img/3pts_rank.png" alt="">


				<p><strong>#20</strong> in offensive rebounds, steals, opponent turnover</p>
				<img class="" src="./players_img/steal_rank.png" alt="">

				<p><strong>#21</strong> in field goals attempted</p>
				<img class="" src="./players_img/FG_rank.png" alt="">

			</div>

			<hr>
			<h1>Individual Players in Kings</h1>
			<h1>According to points, assist, steals, blocks, rebounds, and turnovers</h1>
			<div class="imgContainer">
				<img class="kingsPlayers" src="./players_img/kings_player1.png" alt="">
				<img class="kingsPlayers" src="./players_img/kings_player2.png" alt="">
				<img class="kingsPlayers" src="./players_img/kings_player3.png" alt="">
				<img class="kingsPlayers" src="./players_img/kings_player4.png" alt="">
				<img class="kingsPlayers" src="./players_img/kings_player5.png" alt="">
				<img class="kingsPlayers" src="./players_img/kings_player6.png" alt="">
			</div>

		</div>
	</div>
	<script src="index.js"></script>
</body>

</html>